<template>
  <div class="sidebar-left col-sm-2">
    <svg class="sv" width="135" height="40" viewBox="0 0 135 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0)">
        <path
          d="M41.9 28.58C40.17 26.85 37.35 26.85 35.62 28.58C33.89 30.31 33.89 33.13 35.62 34.86C37.35 36.59 40.16 36.59 41.9 34.86C43.63 33.13 43.63 30.32 41.9 28.58Z"
          fill="url(#paint0_linear)"/>
        <path
          d="M24.64 1.07316e-05C16.02 -0.00998927 9.04004 6.97001 9.03004 15.59C9.02004 24.21 16 31.19 24.62 31.2C33.24 31.21 40.22 24.23 40.23 15.61C40.23 15.6 40.23 15.6 40.23 15.59C40.23 6.98001 33.25 1.07316e-05 24.64 1.07316e-05Z"
          fill="url(#paint1_linear)"/>
        <path d="M0 1.45996H6V6.88996H0V1.45996ZM0 10.57H6V30.13H0V10.57Z" fill="white"/>
        <path
          d="M51.2 10.5701H56.66L56.93 13.3601C58.36 11.1801 60.8299 9.90009 63.4399 10.0001C68.9799 10.0001 72.15 14.6101 72.15 20.3001C72.15 26.1501 68.7799 30.7201 63.4399 30.7201C60.8999 30.8201 58.4799 29.6101 57.0499 27.5101V39.8201H51.2V10.5701ZM66.3 20.2901C66.3 17.4601 64.7199 15.2901 61.66 15.2901C58.87 15.2901 57.0499 17.4501 57.0499 20.2901C57.0499 23.1301 58.87 25.4401 61.66 25.4401C64.7199 25.4401 66.3 23.2001 66.3 20.2901Z"
          fill="white"/>
        <path
          d="M74.79 24.63C74.79 20.91 77.5 18.55 83.2 18.55C84.42 18.55 85.64 18.68 86.84 18.94V18.08C86.84 15.95 85.84 14.83 83.62 14.83C82.26 14.73 80.96 15.42 80.29 16.61H75.88V14C75.88 14 77.54 10 83.74 10C89.74 10 92.74 12.82 92.74 18.29V30.13H87.42L87 27.65C85.78 29.67 83.54 30.85 81.19 30.71C76.92 30.71 74.79 28 74.79 24.63ZM86.79 23.04V22.19C85.72 21.98 84.62 21.87 83.53 21.88C81.25 21.88 80.53 22.88 80.53 24.09C80.53 25.6 81.53 26.22 83.09 26.22C84.96 26.41 86.64 25.05 86.83 23.17C86.84 23.11 86.84 23.06 86.84 23L86.79 23.04Z"
          fill="white"/>
        <path
          d="M97.42 10.57H102.88L103.15 13.12C104.16 11.17 106.18 9.95999 108.38 9.99999C111.38 9.99999 112.99 11.7 113.3 14.14V16.93H108.84C108.59 15.75 107.5 14.93 106.29 15.03C104.19 15.03 103.29 16.81 103.29 19.22V30.13H97.42V10.57Z"
          fill="white"/>
        <path
          d="M116.05 1.08008H121.9V18.5101L128.48 10.5701H133.48V13.1601L127.79 19.9001L134.26 27.4201V30.1301H128.79L121.9 21.6901V30.1301H116.05V1.08008Z"
          fill="white"/>
      </g>
      <defs>
        <linearGradient id="paint0_linear" x1="35.6085" y1="34.8294" x2="41.8805" y2="28.5573"
                        gradientUnits="userSpaceOnUse">
          <stop offset="0.31" stop-color="#5FAD25"/>
          <stop offset="1" stop-color="#FFEF5F"/>
        </linearGradient>
        <linearGradient id="paint1_linear" x1="26.4993" y1="41.1408" x2="23.1193" y2="-5.04919"
                        gradientUnits="userSpaceOnUse">
          <stop offset="0.31" stop-color="#5FAD25"/>
          <stop offset="1" stop-color="#FFEF5F"/>
        </linearGradient>
        <clipPath id="clip0">
          <rect width="134.26" height="39.82" fill="white"/>
        </clipPath>
      </defs>
    </svg>
    <div class="menu">
      <div class="center">
        <div class="el">
          <svg class="menu-sv" width="20" height="18" viewBox="0 0 20 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M0 1.9172C0 0.858361 0.815041 0 1.819 0H18.181C19.1856 0 20 0.857776 20 1.9172V15.3801C20 16.4389 19.185 17.2973 18.181 17.2973H1.819C0.814396 17.2973 0 16.4395 0 15.3801V1.9172ZM15.1029 7.09383C15.9833 7.09383 16.697 6.3394 16.697 5.40877C16.697 4.47814 15.9833 3.72372 15.1029 3.72372C14.2225 3.72372 13.5088 4.47814 13.5088 5.40877C13.5088 6.3394 14.2225 7.09383 15.1029 7.09383Z"
                  fill="white"/>
          </svg>

          <a href="/tickets"> Пропуск</a>
        </div>

        <div class="el">
          <svg class="menu-sv" width="20" height="17" viewBox="0 0 20 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <circle cx="6.91178" cy="4.19779" r="3.72172" fill="#A5B9CF"/>
            <circle cx="14.3552" cy="7.38783" r="2.65834" fill="#A5B9CF"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M6.91175 8.98291C3.10071 8.98291 0 12.0836 0 15.8947C0 16.1881 0.238206 16.4263 0.531688 16.4263H13.2918C13.5853 16.4263 13.8235 16.1881 13.8235 15.8947C13.8235 12.0836 10.7228 8.98291 6.91175 8.98291Z"
                  fill="#A5B9CF"/>
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M14.3551 11.1096C14.0191 11.1096 13.6884 11.1553 13.363 11.2245C14.3169 12.5388 14.8868 14.1497 14.8868 15.8947C14.8868 16.0818 14.8485 16.2594 14.789 16.4264H18.6085C18.902 16.4264 19.1402 16.1881 19.1402 15.8947C19.1402 13.2565 16.9933 11.1096 14.3551 11.1096Z"
                  fill="#A5B9CF"/>
          </svg>

          <a href="/users"> Пользователи </a>
        </div>

        <div class="el">
          <svg class="menu-sv" width="16" height="17" viewBox="0 0 16 17" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M16 8.44436C16.0081 12.8521 12.4135 16.4564 8.0058 16.4595C6.10209 16.4608 4.35345 15.7972 2.97929 14.6881C2.62197 14.3998 2.59526 13.8642 2.91997 13.5395L3.28342 13.1761C3.56113 12.8984 4.00448 12.868 4.31216 13.1121C5.32458 13.9155 6.60583 14.395 7.99999 14.395C11.2808 14.395 13.9355 11.7398 13.9355 8.45949C13.9355 5.17868 11.2803 2.52399 7.99999 2.52399C6.42535 2.52399 4.99519 3.1359 3.93329 4.13471L5.57051 5.77193C5.89567 6.0971 5.66538 6.65303 5.20558 6.65303H0.516129C0.231064 6.65303 0 6.42197 0 6.1369V1.44744C0 0.987635 0.555935 0.757344 0.881096 1.08247L2.47374 2.67512C3.90996 1.30257 5.85651 0.459473 7.99999 0.459473C12.4132 0.459473 15.9918 4.03303 16 8.44436ZM10.1641 10.9858L10.481 10.5784C10.7435 10.2408 10.6827 9.75443 10.3452 9.49194L9.03225 8.47075V5.10464C9.03225 4.67706 8.68564 4.33045 8.25806 4.33045H7.74193C7.31435 4.33045 6.96774 4.67706 6.96774 5.10464V9.48049L9.0777 11.1216C9.41522 11.3841 9.9016 11.3233 10.1641 10.9858Z"
              fill="#A5B9CF"/>
          </svg>

          <a href="/history"> История </a>
        </div>

        <div class="el">
          <svg class="menu-sv" width="16" height="18" viewBox="0 0 16 18" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M13.7895 0.459473C12.6849 0.459473 11.7895 1.3549 11.7895 2.45947V15.4595C11.7895 16.564 12.6849 17.4595 13.7895 17.4595H14C15.1046 17.4595 16 16.564 16 15.4595V2.45947C16 1.3549 15.1046 0.459473 14 0.459473H13.7895ZM5.89474 6.70947C5.89474 5.6049 6.79017 4.70947 7.89474 4.70947H8.10526C9.20983 4.70947 10.1053 5.6049 10.1053 6.70947V15.4595C10.1053 16.564 9.20983 17.4595 8.10526 17.4595H7.89474C6.79017 17.4595 5.89474 16.564 5.89474 15.4595V6.70947ZM0 12.6595C0 11.5549 0.895431 10.6595 2 10.6595H2.21053C3.3151 10.6595 4.21053 11.5549 4.21053 12.6595V15.4595C4.21053 16.564 3.3151 17.4595 2.21053 17.4595H2C0.895431 17.4595 0 16.564 0 15.4595V12.6595Z"
                  fill="#A5B9CF"/>
          </svg>

          <a href="/dashboard"> Статистика </a>
        </div>

        <div class="el">
          <svg class="menu-sv" width="19" height="20" viewBox="0 0 19 20" fill="none"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M19 9.95947C19 4.71277 14.7467 0.459473 9.5 0.459473C4.25329 0.459473 0 4.71277 0 9.95947C0 15.2062 4.25329 19.4595 9.5 19.4595C14.7467 19.4595 19 15.2062 19 9.95947ZM9.5 2.35947C8.11627 2.35947 6.8189 2.72927 5.70135 3.37544L7.46956 5.14366C8.09377 4.88016 8.77987 4.73447 9.5 4.73447C10.3103 4.73447 11.0775 4.91891 11.7619 5.24809L13.5086 3.50138C12.3449 2.77755 10.9713 2.35947 9.5 2.35947ZM2.98904 6.03715L4.74422 7.79233C4.4429 8.45251 4.275 9.18638 4.275 9.95947C4.275 10.7697 4.45944 11.5369 4.78862 12.2214L3.04191 13.9681C2.31807 12.8044 1.9 11.4308 1.9 9.95947C1.9 8.52439 2.29776 7.1822 2.98904 6.03715ZM5.79 16.594L7.56823 14.8158C8.16579 15.0537 8.81762 15.1845 9.5 15.1845C10.2731 15.1845 11.007 15.0166 11.6671 14.7153L13.4223 16.4704C12.2773 17.1617 10.9351 17.5595 9.5 17.5595C8.1527 17.5595 6.88729 17.2089 5.79 16.594ZM16.084 13.7581L14.3158 11.9899C14.5793 11.3657 14.725 10.6796 14.725 9.95947C14.725 9.27709 14.5942 8.62527 14.3563 8.0277L16.1345 6.24948C16.7494 7.34676 17.1 8.61217 17.1 9.95947C17.1 11.3432 16.7302 12.6406 16.084 13.7581ZM9.5 7.63447C8.21594 7.63447 7.175 8.67541 7.175 9.95947C7.175 11.2435 8.21594 12.2845 9.5 12.2845C10.7841 12.2845 11.825 11.2435 11.825 9.95947C11.825 8.67541 10.7841 7.63447 9.5 7.63447Z"
                  fill="#A5B9CF"/>
          </svg>
          <a href="/profile"> Настройки </a>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.sidebar-left {
  position: absolute;
  height: 1200px;
  left: 0;
  top: 0;
  background-color: blue;
}

.sv {
  margin-top: 20px;
}

.menu-sv {
  margin-bottom: 10px;
}

.menu {
  color: white;
  position: relative;
  height: 100%;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: underline;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.el {
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  margin-bottom: 40px;
}
</style>

<script>
import 'bootstrap';
import 'bootstrap/dist/css/bootstrap.min.css';

export default {
  name: 'Menu',
  data() {
    return {};
  }
};
</script>
