<template>
  <div class="Tickets container pg">

    <div class="row">
      <div class="col-sm-1 header">
        <svg class="m-sv" width="20" height="17" viewBox="0 0 20 17" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <circle cx="6.91178" cy="4.19779" r="3.72172" fill="#A5B9CF"/>
          <circle cx="14.3552" cy="7.38783" r="2.65834" fill="#A5B9CF"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M6.91175 8.98291C3.10071 8.98291 0 12.0836 0 15.8947C0 16.1881 0.238206 16.4263 0.531688 16.4263H13.2918C13.5853 16.4263 13.8235 16.1881 13.8235 15.8947C13.8235 12.0836 10.7228 8.98291 6.91175 8.98291Z"
                fill="#A5B9CF"/>
          <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.3551 11.1096C14.0191 11.1096 13.6884 11.1553 13.363 11.2245C14.3169 12.5388 14.8868 14.1497 14.8868 15.8947C14.8868 16.0818 14.8485 16.2594 14.789 16.4264H18.6085C18.902 16.4264 19.1402 16.1881 19.1402 15.8947C19.1402 13.2565 16.9933 11.1096 14.3551 11.1096Z"
                fill="#A5B9CF"/>
        </svg>
        <p class="lbl">Пользователи</p>
      </div>


    </div>

    <div class="row cntnt">
      <div class="card tbl">
        <div class="card-body">
          <datatable
            title="Список пользователей системы"
            :columns="datatable_columns"
            :rows="tickets"
            :clickable="false"
            :sortable="false"
            :exactSearch="false"
            :searchable="false"
            :paginate="true"
            :exportable="false"
            :printable="false"
            :perPage="[10]"
          />
        </div>
      </div>
    </div>

  </div>
</template>

<style>

.mark {
  width: fit-content;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
}

table th {
  font-size: 18px !important;
}

td div {
  font-size: 22px;
}

@import url(http://fonts.googleapis.com/icon?family=Material+Icons);

.pg {
  width: 100%;
}

.header {
  width: 105px;
  height: 33px;
  top: 27px;
  left: 10px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */


  /* 1 */

  color: #1657FF;
}

.row {
  margin-bottom: 50px;
}

.m-sv {
  position: absolute;
  top: 4px;
}

.lbl {
  margin-left: 75px;
}

.tbl {
  width: 100%;
  min-width: 1800px;
  margin-left: -100px;
}

.cntnt {
  min-width: 1500px;
}
</style>

<script>

import DataTable from 'vue-materialize-datatable';
import TicketService from '../services/TicketService';

export default {
  name: 'Tickets',
  components: {
    'datatable': DataTable
  },
  mounted: function (){
    TicketService.getTickets().then(value => {
      this.tickets = value.data.content;
    });
  },
  data() {
    return {
      content: 'Tickets',
      datatable_columns: TicketService.getHeaders(),
      tickets: []
    };
  }
};
</script>
